html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    
    
}

.container,
.button-container,
.timer {
    display: flex;
    justify-content: center;
}
.container {
    
 background: rgb(43,44,36);
background: linear-gradient(90deg, rgba(43,44,36,1) 0%, rgba(214,0,0,0.9925012241224614) 27%, rgba(202,4,39,1) 100%);
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.timer,
button {
    margin: 0.5rem;
    border-radius: 5px;
}

.timer {
    height: 11rem;
    width: 12rem;
    background-color: lightgray;
    align-items: center;
    padding: 1rem;
    box-shadow: 2px 2px #353030d3;
}
.timer p {
    font-size: 4rem;
    
}

button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

button:hover{
    background-color: #ffffff;
    color:#000000;
}
#message{
    text-align: center;
    color:#ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
}